body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    max-width: 100%;
    box-sizing: border-box;

}

.container h1 {
    font-size: 24px;
}

.add-list {
    text-align: left;
    margin-bottom: 10px;
}

.input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.button {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin: 25px;
    text-align: center;
    font-size: 15px;
    border-style: none;
    cursor: pointer;
    background-color: rgb(39, 146, 218);
}

.friend-list {
    text-align: left;
    margin-bottom: 10px;
}

.friend-list label {
    font-size: 25px;
}

.index-container {
    text-align: center;
}


.f_list {
    width: 100%;
    border: 1px solid #d4d4d4;
    white-space: nowrap;
    overflow-x: auto;
}

.f_list th, .f_list td {
    padding: 10px;
    font-size: 15px;
}


#Add a{
    text-align: right;
    font-size: 18px;
    display: block;
    text-align: center;
}

@media (min-width: 768px) {
    .button {
        max-width: 300px;
        margin: 25px;
        font-size: 20px;
    }

    .container h1 {
        font-size: 50px;
    }

    .edit-list {
        text-align: left;
        margin-bottom: 10px;
        margin: 50px;
    }

    .edit-list label {
        font-size: 30px;
    }

    .input {
        width: 100%;
        padding: 10px;
        font-size: 30px;
    }

    .up-button {
        width: 100%;
        max-width: 300px;
        padding: 10px;
        margin: 25px;
        text-align: center;
        font-size: 20px;
        background-color: rgb(39, 146, 218);
    }

    .friend-list {
        text-align: left;
        margin-bottom: 10px;
        margin: 50px;
    }

    .friend-list label {
        font-size: 30px;
    }
}

@media (max-width: 768px) {

    .index-container {
        padding: 10px;
    }

    .container h1 {
        font-size: 30px;
    }

    .edit-list {
        text-align: left;
        margin-bottom: 10px;
        margin: 20px;
    }

    .edit-list label {
        font-size: 20px;
    }

    .input {
        width: 100%;
        padding: 10px;
        font-size: 20px;
    }

    .up-button {
        width: 80%;
        max-width: 250px;
        padding: 10px;
        margin: 20px;
        text-align: center;
        font-size: 14px;
        background-color: rgb(39, 146, 218);
    }

    .friend-list {
        text-align: left;
        margin-bottom: 10px;
        margin: 20px;
    }

    .friend-list label {
        font-size: 20px;
    }

    .button {
        max-width: 250px;
        margin: 20px;
        font-size: 14px;
    }

}